body
{
    background-color: rgb(247, 189, 198);
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(16, 3, 7);
    background-color:rgb(248, 121, 159) ;
}

.note
{
    font-size: 15px;
    color: black;
}

.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

canvas
{
border: 5px solid rgba(255, 255, 255, 0);
border-radius: 20px;
box-shadow: 5px 5px 5px rgb(21, 5, 10);
}